* {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 35px;
  background-color: rgb(31, 31, 31);
  color: white;
}

header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  font-size: 25px;
  width: 90%;
}

p {
  color: white;
}

a#viewHS {
  list-style-type: none;
  text-decoration: none;
  color: rgb(123, 207, 196);
  margin-left: 30px;
}

.startQuizBtn,
.submitBtn {
  color: white;
  background-color: rgb(61, 163, 170);
  border: rgb(41, 143, 150) solid 5px;
  border-radius: 5px;
  width: max-content;
  text-align: center;
  padding: 3px;
  margin: 3px;
}

.startQuizBtn:hover,
.submitBtn:hover {
  cursor: pointer;
  background-color: rgb(41, 143, 150);
}

div {
  display: flexbox;
  margin: auto;
  padding-top: 50px;
  width: 100%;
  align-content: center;
  text-align: center;
}

/* Hides the questions on initial load */
div#questionOne,
div#questionTwo,
div#questionThree,
div#questionFour,
div#questionFive,
div#inputInitialScreen {
  display: none;
}

/*Make the cards sit on top of eachother */
.questionArea {
  position: relative;
}

.codingQuizScreen,
#questionOne,
#questionTwo,
#questionThree,
#questionFour,
#questionFive,
#inputInitialScreen {
  position: absolute;
  margin: auto;
}

/* Sets the width of the choices so they don't span across the whole page */
ol {
  width: 50%;
  margin: auto;
  align-items: center;
}

/* Make the choices change color when hovered over */
li {
  color: white;
  background-color: rgb(61, 163, 170);
  border-radius: 5px;
  width: max-content;
  text-align: center;
  padding: 10px;
  margin: 10px;
  list-style-type: none;
}

li:hover {
  font-size: 36px;
  color: turquoise;
  background-color: rgb(41, 143, 150);
  cursor: pointer;
}

#correctAlert1,
#correctAlert2,
#correctAlert3,
#correctAlert4,
#correctAlert5 {
  color: lightgreen;
}

#incorrectAlert1,
#incorrectAlert2,
#incorrectAlert3,
#incorrectAlert4,
#incorrectAlert5 {
  color: indianred;
}

.alert {
  width: 500px;
  height: 500px;
  font-size: 300px;
  background-color: transparent;
  font-weight: bold;
  position: absolute;
  display: none;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -250px;
}

#player-list {
  text-transform: uppercase;
}

form {
  display: block;
  align-items: center;
}

input#userInput {
  color: white;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: rgb(41, 143, 150) solid 5px;
  border-radius: 5px;
}

h1.resultScreen,
#grade {
  font-size: 100px;
}

ul {
  padding-inline-start: 0px;
  font-size: 50px;
  color: indianred;
}

/* @media screen and (max-width: 992px) {
  * {
    max-width: max-content;
  }
}

@media screen and (max-width: 768px) {
  * {
    max-width: max-content;
  }
}

@media screen and (max-width: 576px) {
  * {
    max-width: max-content;
  }
} */
